/* btn start  */
.btn {
  display: inline-block;
  padding: 18px 20px;
  width: 240px;
  max-width: 100%;
  color: #ffffff;
  text-align: center;
  font: normal normal 900 18px/24px "Montserrat";
  border-radius: 28px;
  border: 0;
  background: #ff5441;
  box-shadow: 0px 0px 38px 0px rgba(212, 66, 50, 0.8);
  cursor: pointer;
  letter-spacing: 0.01em;
  transition: all 0.2s;
  outline: none;
}

.btn:hover {
  background: #ec4b38;
}

.btn:active {
  opacity: 0.8;
  transform: scale(0.95);
}

@media (max-width: 576px) {
  .btn {
    padding: 16px 20px;
    width: 220px;
    font-size: 16px;
  }
}
/* btn end  */

/* container start */
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
  max-width: 100%;
}
/* container end */

/* phone start */
.phone__item {
  padding: 8px 16px;
  font: normal normal 900 18px "Montserrat";
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  border: 3px solid #ffffff;
  border-radius: 21.5px;
  transition: all 0.2s;
}

.phone__item:hover {
  color: #1f1f1f;
  background: #ffffff;
}

.phone__item:active {
  opacity: 0.8;
}
/* phone end  */
