.footer-page {
  background: linear-gradient(to top, #2d2c2c, #1f1f1f);
  padding: 25px 0;
}

.footer-page__text {
  font: normal 900 18px "Montserrat";
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
